/* SignUp.css */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.signup-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.form-group {
  margin-bottom: 10px;
}

.label-tag{
  display: block;
  margin-bottom: 5px;
}

.input-tag {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button-tag {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-tag:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
